@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>
<p>
     <font color="#0000ff"><b>Розробники сайта:</b></font>
     &nbsp;&nbsp;&nbsp;Володимир Станков
     &nbsp;&nbsp;&nbsp;Павло Собчук
     &nbsp;&nbsp;&nbsp;Олег Горин
     &nbsp;&nbsp;&nbsp;Михайло Григорашик
     &nbsp;&nbsp;&nbsp;Євгеній Бєляєв
</p>
