<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/LogOn.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="loginId">
        @RenderBody()
    </div>
</body>
</html>
