@{
    ViewBag.Title = "News Page";

    ViewBag.Controller = "News";
    ViewBag.Action = "News.Index";
}
<h2><b>Новини Діагностичного Центру</b></h2>

<div class = "news_fdiv">
 
<span class = "news_title">Новина №1 (8.10.2011)</span><br />Сайт Чернівецького Діагностичного Центру знаходиться в розробці!<br />Незабаром чекайте на оновлення його розділів:)
</div>
