@{
    ViewBag.Title = "News Page";
}

<h2><b>Новини Діагностичного Центру</b></h2>

<table border="0" align="center">
 <tr bgcolor="#99CCFF">
   <td><font color="navy"><u>Новина №1 (8.10.2011)</u></font><br>Сайт Чернівецького Діагностичного Центру знаходиться в розробці!<br>Незабаром чекайте на оновлення його розділів:)</td>
 </tr>
</table>
