<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="system.serviceModel">
      <section name="domainServices" type="System.ServiceModel.DomainServices.Hosting.DomainServicesSection, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" allowDefinition="MachineToApplication" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <httpModules>
      <add name="DomainServiceModule" type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </httpModules>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <roleManager enabled="true" />
    <authentication mode="Forms">
      <forms name=".DCExternalSite_ASPXAUTH" />
    </authentication>
    <profile>
      <properties>
        <add name="FriendlyName" />
      </properties>
    </profile>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="DomainServiceModule" preCondition="managedHandler" type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </modules>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="DCExternalSite.Web.Services.Service1.customBinding0">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="DCExternalSite.Web.Services.DCService0.customBinding0">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="DCExternalSite.Web.Services.DCService.customBinding0">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <services>
      <service name="DCExternalSite.Web.Services.Service1">
        <endpoint address="" binding="customBinding" bindingConfiguration="DCExternalSite.Web.Services.Service1.customBinding0" contract="DCExternalSite.Web.Services.Service1" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="DCExternalSite.Web.Services.DCService0">
        <endpoint address="" binding="customBinding" bindingConfiguration="DCExternalSite.Web.Services.DCService0.customBinding0" contract="DCExternalSite.Web.Services.DCService0" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="DCExternalSite.Web.Services.DCService">
        <endpoint address="" binding="customBinding" bindingConfiguration="DCExternalSite.Web.Services.DCService.customBinding0" contract="DCExternalSite.Web.Services.DCService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>

<connectionStrings>
<add name="DiagnosticsDBEntities" connectionString="metadata=res://*/Models.DiagnosticsDBModel.csdl|res://*/Models.DiagnosticsDBModel.ssdl|res://*/Models.DiagnosticsDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SKSIRIUSR-PC\SQLSKSIRIUS;Initial Catalog=DiagnosticsDB;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>