a, #adminmenu a {
    color: #21759B;
}
a:hover, #adminmenu a:hover {
    color: #d54e21;
}
#adminmenuback, #adminmenuwrap {
    background-color: #ECECEC;
    border-color: #CCCCCC;
}
#adminmenushadow, #adminmenuback {
    background-image: url("images/menu-shadow.png");
    background-position: right top;
    background-repeat: repeat-y;
}
#adminmenu li.menu-separator {
    background: none repeat scroll 0 0 #DFDFDF;
    border-color: #CFCFCF;
}
#adminmenu div.separator {
    border-color: #E1E1E1;
}
#adminmenu li.has-current-submenu.menu-open .menu-toggle, #adminmenu li.has-current-submenu:hover .menu-toggle {
    background: url("images/arrows-dark.png") no-repeat scroll -1px 6px transparent;
}
#adminmenu .has-submenu:hover .menu-toggle, #adminmenu .menu-open .menu-toggle {
    background: url("images/arrows.png") no-repeat scroll -2px 6px transparent;
}
#adminmenu a.menu-top, .folded #adminmenu li.menu-top, #adminmenu .submenu .submenu-head {
    border-bottom-color: #DFDFDF;
    border-top-color: #F9F9F9;
}
#adminmenu li.menu-open {
    border-color: #DFDFDF;
}
#adminmenu li.has-current-submenu a.has-current-submenu, #adminmenu li.current a.menu-top, .folded #adminmenu li.has-current-submenu, .folded #adminmenu li.current.menu-top, #adminmenu .menu-arrow, #adminmenu .has-current-submenu .submenu .submenu-head {
    background-color: #777777;
    background-image: -moz-linear-gradient(center bottom , #6D6D6D, #808080);
}
#adminmenu li.has-current-submenu a.has-current-submenu, #adminmenu li.current a.menu-top, #adminmenu .has-current-submenu .submenu .submenu-head {
    border-bottom-color: #6D6D6D;
    border-top-color: #808080;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 #333333;
}
.folded #adminmenu li.has-current-submenu, .folded #adminmenu li.current.menu-top {
    border-bottom-color: #6D6D6D;
    border-top-color: #808080;
}
#adminmenu .submenu a:hover {
    background-color: #EAF2FA !important;
    color: #333333 !important;
}
#adminmenu .submenu li.current, #adminmenu .submenu li.current a, #adminmenu .submenu li.current a:hover {
    color: #333333;
}
#adminmenu .submenu ul {
    background-color: #FFFFFF;
}
.folded #adminmenu .submenu-wrap, .folded #adminmenu .submenu ul {
    border-color: #DFDFDF;
}
.folded #adminmenu .submenu-wrap {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}
#adminmenu .submenu .submenu-head {
    background-color: #ECECEC;
    border-right-color: #DFDFDF;
}
#adminmenu div.submenu {
    background-color: transparent;
}
#collapse-menu {
    color: #AAAAAA;
}
#collapse-menu:hover {
    color: #999999;
}
#collapse-button {
    background-color: #F4F4F4;
    background-image: -moz-linear-gradient(center bottom , #DFDFDF, #FFFFFF);
    border-color: #CCCCCC;
}
#collapse-menu:hover #collapse-button {
    border-color: #AAAAAA;
}
#collapse-button div {
    background: url("images/arrows.png") no-repeat scroll 0 -72px transparent;
}
.folded #collapse-button div {
    background-position: 0 -108px;
}


/*
#adminmenu .menu-icon-empl div.menu-image {
    background: url("images/menu.png") no-repeat scroll -60px -33px transparent;
}
#adminmenu .menu-icon-empl:hover div.menu-image, #adminmenu .menu-icon-empl.has-current-submenu div.menu-image, #adminmenu .menu-icon-empl.current div.menu-image {
    background: url("images/menu.png") no-repeat scroll -60px -1px transparent;
}*/
#adminmenu .menu-icon-settings div.menu-image {
    background: url("images/menu.png") no-repeat scroll -240px -33px transparent;
}
#adminmenu .menu-icon-settings:hover div.menu-image, #adminmenu .menu-icon-settings.has-current-submenu div.menu-image {
    background: url("images/menu.png") no-repeat scroll -240px -1px transparent;
}
#adminmenu .menu-icon-patient div.menu-image {
    background: url("images/menu.png") no-repeat scroll -300px -33px transparent;
}
#adminmenu .menu-icon-patient:hover div.menu-image, #adminmenu .menu-icon-patient.has-current-submenu div.menu-image, #adminmenu .menu-icon-patient.current div.menu-image {
    background: url("images/menu.png") no-repeat scroll -300px -1px transparent;
}
#adminmenu .menu-icon-news div.menu-image {
    background: url("images/menu.png") no-repeat scroll -271px -33px transparent;
}
#adminmenu .menu-icon-news:hover div.menu-image, #adminmenu .menu-icon-news.has-current-submenu div.menu-image {
    background: url("images/menu.png") no-repeat scroll -271px -1px transparent;
}
#adminmenu .menu-icon-plan div.menu-image {
    background: url("images/menu.png") no-repeat scroll -150px -33px transparent;
}
#adminmenu .menu-icon-plan:hover div.menu-image, #adminmenu .menu-icon-plan.has-current-submenu div.menu-image {
    background: url("images/menu.png") no-repeat scroll -150px -1px transparent;
}
#adminmenu .menu-icon-empl div.menu-image {
    background: url("images/menu.png") no-repeat scroll -331px -33px transparent;
}
#adminmenu .menu-icon-empl:hover div.menu-image, #adminmenu .menu-icon-empl.has-current-submenu div.menu-image, #adminmenu .menu-icon-empl.current div.menu-image {
    background: url("images/menu.png") no-repeat scroll -330px -1px transparent;
}


/*
#adminmenu .menu-icon-dashboard div.menu-image {
    background: url("../images/menu.png?ver=20100531") no-repeat scroll -60px -33px transparent;
}
#adminmenu .menu-icon-dashboard:hover div.menu-image, #adminmenu .menu-icon-dashboard.wp-has-current-submenu div.wp-menu-image, #adminmenu .menu-icon-dashboard.current div.wp-menu-image {
    background: url("../images/menu.png?ver=20100531") no-repeat scroll -60px -1px transparent;
}
#adminmenu .menu-icon-post div.wp-menu-image {
    background: url("../images/menu.png?ver=20100531") no-repeat scroll -271px -33px transparent;
}
#adminmenu .menu-icon-post:hover div.wp-menu-image, #adminmenu .menu-icon-post.wp-has-current-submenu div.wp-menu-image {
    background: url("../images/menu.png?ver=20100531") no-repeat scroll -271px -1px transparent;
}
#adminmenu .menu-icon-media div.wp-menu-image {
    background: url("../images/menu.png?ver=20100531") no-repeat scroll -120px -33px transparent;
}
#adminmenu .menu-icon-media:hover div.wp-menu-image, #adminmenu .menu-icon-media.wp-has-current-submenu div.wp-menu-image {
    background: url("../images/menu.png?ver=20100531") no-repeat scroll -120px -1px transparent;
}
#adminmenu .menu-icon-links div.wp-menu-image {
    background: url("../images/menu.png?ver=20100531") no-repeat scroll -90px -33px transparent;
}
#adminmenu .menu-icon-links:hover div.wp-menu-image, #adminmenu .menu-icon-links.wp-has-current-submenu div.wp-menu-image {
    background: url("../images/menu.png?ver=20100531") no-repeat scroll -90px -1px transparent;
}
#adminmenu .menu-icon-page div.wp-menu-image {
    background: url("../images/menu.png?ver=20100531") no-repeat scroll -150px -33px transparent;
}
#adminmenu .menu-icon-page:hover div.wp-menu-image, #adminmenu .menu-icon-page.wp-has-current-submenu div.wp-menu-image {
    background: url("../images/menu.png?ver=20100531") no-repeat scroll -150px -1px transparent;
}
#adminmenu .menu-icon-comments div.wp-menu-image {
    background: url("../images/menu.png?ver=20100531") no-repeat scroll -30px -33px transparent;
}
#adminmenu .menu-icon-comments:hover div.wp-menu-image, #adminmenu .menu-icon-comments.wp-has-current-submenu div.wp-menu-image, #adminmenu .menu-icon-comments.current div.wp-menu-image {
    background: url("../images/menu.png?ver=20100531") no-repeat scroll -30px -1px transparent;
}
#adminmenu .menu-icon-appearance div.wp-menu-image {
    background: url("../images/menu.png?ver=20100531") no-repeat scroll 0 -33px transparent;
}
#adminmenu .menu-icon-appearance:hover div.wp-menu-image, #adminmenu .menu-icon-appearance.wp-has-current-submenu div.wp-menu-image {
    background: url("../images/menu.png?ver=20100531") no-repeat scroll 0 -1px transparent;
}
#adminmenu .menu-icon-plugins div.wp-menu-image {
    background: url("../images/menu.png?ver=20100531") no-repeat scroll -180px -33px transparent;
}
#adminmenu .menu-icon-plugins:hover div.wp-menu-image, #adminmenu .menu-icon-plugins.wp-has-current-submenu div.wp-menu-image {
    background: url("../images/menu.png?ver=20100531") no-repeat scroll -180px -1px transparent;
}
#adminmenu .menu-icon-users div.wp-menu-image {
    background: url("../images/menu.png?ver=20100531") no-repeat scroll -300px -33px transparent;
}
#adminmenu .menu-icon-users:hover div.wp-menu-image, #adminmenu .menu-icon-users.wp-has-current-submenu div.wp-menu-image, #adminmenu .menu-icon-users.current div.wp-menu-image {
    background: url("../images/menu.png?ver=20100531") no-repeat scroll -300px -1px transparent;
}
#adminmenu .menu-icon-tools div.wp-menu-image {
    background: url("../images/menu.png?ver=20100531") no-repeat scroll -210px -33px transparent;
}
#adminmenu .menu-icon-tools:hover div.wp-menu-image, #adminmenu .menu-icon-tools.wp-has-current-submenu div.wp-menu-image, #adminmenu .menu-icon-tools.current div.wp-menu-image {
    background: url("../images/menu.png?ver=20100531") no-repeat scroll -210px -1px transparent;
}
#icon-options-general, #adminmenu .menu-icon-settings div.wp-menu-image {
    background: url("../images/menu.png?ver=20100531") no-repeat scroll -240px -33px transparent;
}
#adminmenu .menu-icon-settings:hover div.wp-menu-image, #adminmenu .menu-icon-settings.wp-has-current-submenu div.wp-menu-image {
    background: url("../images/menu.png?ver=20100531") no-repeat scroll -240px -1px transparent;
}
#adminmenu .menu-icon-site div.wp-menu-image {
    background: url("../images/menu.png?ver=20100531") no-repeat scroll -360px -33px transparent;
}
#adminmenu .menu-icon-site:hover div.wp-menu-image, #adminmenu .menu-icon-site.wp-has-current-submenu div.wp-menu-image {
    background: url("../images/menu.png?ver=20100531") no-repeat scroll -360px -1px transparent;
}
*/