@model DiagnosticCenter.Models.Cabinet

@{
    ViewBag.Title = "Delete";
}

<h3>Ви впевнені, що хочете видалити кабінет?</h3>
<fieldset>
    <legend>Кабінет</legend>

    <div class="display-label">Номер кабінету:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Number)
    </div>

    <div class="display-label">Номер телефону:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phone)
    </div>

    <div class="display-label">Опис:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Видалити" /> |
        @Html.ActionLink("Повернутись до списку кабінетів", "Index")
    </p>
}
