@model DiagnosticCenter.Models.Department

@{
    ViewBag.Title = "Інформація";
}

<h2>Інформація</h2>

<fieldset>
    <legend>Відділення "@Model.Name" </legend>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Список відділень", "Index")
</p>
