@model IEnumerable<DiagnosticCenter.Models.Department>

@{
    ViewBag.Title = "Список відділення";
    
    ViewBag.Controller = "Departments";
    ViewBag.Action = "Departments.Index";
}

<h2>Список відділень</h2>

<table>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Name, "Details", new { id = item.ID_Dept })
        </td>
    </tr>
}

</table>
