@{
    ViewBag.Title = "Departments page";
}

<h2>Відділення Діагностичного Центру</h2>

<table border="0">
 <tr bgcolor="#99CCFF">
   <td><a href="Cardiology.cshtml">Кардіологічне відділення</a></td>
 </tr>
 <tr bgcolor="#99CCFF">
   <td><a href="Neurorpathology.cshtml">Неврологічне відділення</a></td>
 </tr>
 <tr bgcolor="#99CCFF">
   <td><a href="Endocrinology.cshtml">Ендокрінологічне відділення</a></td>
 </tr>
</table>
