@{
    ViewBag.Title = "Departments page";
}

<h2>Відділення Діагностичного Центру</h2>

<table border="0">
 <tr bgcolor="#99CCFF">
   <td><a href="Cardiology.cshtml">Кардіологічний відділ</a></td>
 </tr>
 <tr bgcolor="#99CCFF">
   <td><a href="Neurorpathology.cshtml">Невропатологічний відділ</a></td>
 </tr>
 <tr bgcolor="#99CCFF">
   <td><a href="Endocrinology.cshtml">Ендокрінологічний відділ</a></td>
 </tr>
</table>
