
/* Rate colors  
----------------------------------------------------------*/
.rate_red {
    background-color: #ffcc99;
}
.rate_yellow {
    background-color: #ffff99;
}
.rate_green {
    background-color: #ccffcc;
}