
<div class="patient">
    
<form action="" method="post">
    <table id = "formholder">
    <th colspan = "2"><h2> Форма додавання нового пацієнта </h2> </th>
    <tr>
        <td class = "text">ПІБ пацієнта:</td><td class ="inputs"><input type = "text" name = "name" /></td>
    </tr>
    <tr>
        <td class = "text">Домашня адреса:</td><td class = "inputs"><input type = "text" name = "address" /></td>
    </tr>
    <tr>
        <td class = "text">Номер телефону:</td><td class = "inputs"><input  type = "text" name = "phone" /></td>
    </tr>
    <tr>
        <td class = "text">Професія:</td><td class = "inputs"><input type = "text" name = "specialty" /></td>
    </tr>
    <tr>
        <td class = "inputs"><input type = "checkbox" name = "workplace" value = "1" /></td><td class = "text">Працевлаштований(-на) </td>
    </tr>
    <tr>
        <td class = "inputs"><input type = "checkbox" name = "civil_servant"  value = "1"/></td><td class = "text">Держслужбовець </td>
    </tr>
    <tr>
        <td align = "justify" colspan = "2">
            Коментар<br />
            <textarea name = "comment"></textarea><br />
            <input type = "submit" value = "Зберегти" />
        </td>
    </tr>
    </table>
    
   
        
        
   
</form>
</div>